.example {
    max-width: 100%;
    background-color: @whitegrey;
}
.example__title {
    padding-left: 20px;
    padding-top: 20px;
    text-align: start;
    font-size: 36px;
    line-height: 40px;
    color: @black;
    margin-bottom: 40px;
    margin-top: 0;
}
.example__image {
    margin-left: 20px;
}
.example__desc {
    padding-left: 15px;
    max-width: 100%;
    min-height: auto;
}
.example__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
}
.example__lot {
    text-align: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.example__image {
    display: flex;
    justify-content: center;
}
.example__item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}
.example__subtitle {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}
.example__text {
    font-size: 12px;
    line-height: 12px;
    max-width: 87px;
    text-align: center;
    position: relative;
    top: 20px;
}
.example__item:nth-child(1) {
    padding: 10px;
    width: 100px;
    margin: 0;
}
.example__item:nth-child(2) {
    margin-left: 20px;
    padding: 10px;
    max-width: 127px;
}
.example__slider,
.example__slim {
    @media (max-width: @mobile-width-only) {
        display: none;
    }
}
    .range {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .example__range {
        width: 85px;
        border: 1px solid @grey;
        border-radius: 6px;
        margin: 0 16px;
        background-color: @white;
        height: 14px;
        position: relative;
    }
    .example__span {
        width: 40px;
        border-radius: 3px;
        margin: 0;
        background-color: @green;
        height: 8px;
        position: absolute;
    }
@media (min-width: @tablet-width) {
    .example {
        background: linear-gradient(to top, @whitegrey 55%, @white 15%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .example__list {
        justify-content: left;
        margin-left: 55px;
    }
    .example__cost {
        align-self: center;
    }
    .example__image {
        display: none;
    }
    .example__text {
        background-color: @white;
    }
    .example__title {
        padding: 0;
        margin-left: 55px;
        margin-top: 0;
    }
    .example__desc {
        width: auto;
        margin-right: 40px;
        margin-left: 40px;
    }
    .example__cost {
        align-self: center;
        font-family: "Oswald";
        font-style: normal;
        margin: 0;
        margin-left: auto;
        width: 184px;
        text-align: -webkit-right;
        padding: 0;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
    }
    .example__slider {
        position: relative;
        margin: 0 auto;
    }
    .example__slim {
        position: absolute;
        left: 128px;
        top: 0;
    }
    .example__slider img:first-child {
        position: relative;
        right: 152px;
    }
    .range {
        display: flex;
        flex-direction: row;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        
    }
    .example__tag p {
        padding-right: 10px;
        padding-left: 10px;
    }
    .example__range {
        width: 20px;
        border: 1px solid @grey;
        height: 20px;
        margin: 0 16px;
        border-radius: 16px;
        position: absolute;
        z-index: 1;
        background-color: @white;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 4px;
            height: 4px;
            left: 8px;
            top: 7px;
            border-radius: 2px;
            background-color: @green;
        }
    }
    .example__span {
        width: 420px;
        height: 20px;
        border-radius: 3px;
        background-color: lightgray;
        height: 8px;
        position: relative;
    }
}
@media (min-width: @desktop-width) {
    .example {
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        height: 600px;
        flex-wrap: wrap;
        background: linear-gradient(to top, @greylight 70%, @white 30%);
    }
    .example__lot {
        padding: 0;
    }
    .example__list {
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .example__title {
        margin: 10px;
        width: auto;
        font-family: "Oswald";
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        height: 60px;
        line-height: 60px;
    }
    .example__text {
        background-color: @greylight;
    }
    .example__lot {
        margin-left: 0;
        margin-top: 40px;
        margin-right: 20px;
    }
    .example__slider {
        position: relative;
        top: 37px;
        width: 28%;
        left: 0;
    }
    .example__desc {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
    }
    .example__box {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        width: 500px;
        position: relative;
        height: 320px;
        top: 211px;
        right: 314px;
    }
    .example__cost {
        font-family: "Oswald";
        font-style: normal;
        width: 286px;
        position: relative;
        padding: 0;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        align-items: flex-end;
    }
    .example__span {
        width: 440px;
        height: 20px;
        margin-right: auto;
        border-radius: 3px;
        background-color: lightgray;
        height: 8px;
        position: relative;
    }
    .range {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: auto;
    }
    .example__range {
        width: 20px;
        border: 1px solid @grey;
        height: 20px;
        margin: 0 16px;
        border-radius: 16px;
        position: absolute;
        z-index: 1;
        background-color: @white;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 4px;
            height: 4px;
            left: 8px;
            top: 7px;
            border-radius: 2px;
            background-color: @green;
        }
}
}