.example {
    background-color: @whitegrey;
}
.example,
.example__box {
    max-width: 100%;
}
.example__title {
    padding-left: 20px;
    padding-top: 20px;
    text-align: start;
    font-size: 34px;
    line-height: 40px;
    color: @black;
    margin-bottom: 40px;
    margin-top: 0;
}
.example__image {
    margin-left: 0;
    margin-top: 23px;
}
.example__desc {
    padding-left: 21px;
    min-height: auto;
}
.example__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
}
.example__lot {
    text-align: center;
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 14px;
    line-height: 16px;
}
.example__image {
    display: flex;
    justify-content: center;
}
.example__item {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}
.example__subtitle {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}
.example__text {
    font-size: 12px;
    line-height: 12px;
    max-width: 87px;
    text-align: center;
    position: relative;
    top: 5px;
}
.example__item:nth-child(1) {
    @media (max-width: @mobile-width-only) {
    padding: 7px 19px 0px 17px;
    width: 100px;
    margin-right: 4px;
}
}
.example__item:nth-child(2) {
    @media (max-width: @mobile-width-only) {
    margin-left: 20px;
    padding: 7px 15px 0px 15px;
}
}
.example__index {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
.example__slider,
.example__slim {
    @media (max-width: @mobile-width-only) {
        display: none;
    }
}
@media (max-width: @mobile-width-only) {
    .example__tag {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
    }
    .range {
        padding-bottom: 0;
    } 
    .example__range {
        width: 85px;
        top: 21px;
        border: 1px solid @grey;
        border-radius: 6px;
        margin: 0 16px;
        background-color: @white;
        height: 14px;
        position: relative;
    }
    .example__span {
        width: 38px;
        top: 24px;
        border-radius: 3px;
        margin-left: -18px;
        margin-top: 0;
        background-color: @green;
        height: 8px;
        position: absolute;
    }
}
@media (min-width: @tablet-width) {
    .example {
        background: linear-gradient(to top, @whitegrey 44%, @white 15%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .example__list {
        justify-content: left;
        margin-left: 25px;
    }
    .example__image {
        display: none;
    }
    .example__text {
        background-color: @white;
        padding-top: 15px;
    }
    .example__item:nth-child(1) {
        padding-left: 50px;
        width: 150px;
        margin-top: 40px;
        padding-top: 20px;
        font-size: 30px;
        line-height: 37px;
        padding-right: 50px;
    }
    .example__item:nth-child(2) {
        padding-left: 50px;
        max-width: 280px;
        margin-top: 40px;
        margin-left: 40px;
        padding-left: 40px;
        padding-top: 20px;
        font-size: 30px;
        line-height: 37px;
        padding-right: 50px;
    }
    .example__title {
        padding: 0;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 55px;
        line-height: 60px;
    }
    .example__desc {
        width: auto;
        margin-right: 40px;
        margin-left: 35px;
        padding: 0;
    }
    .example__lot {
        align-self: center;
        font-family: "Oswald";
        font-style: normal;
        margin-bottom: 0;
        margin-right: 20px;
        margin-top: 40px;
        margin-left: auto;
        width: 184px;
        text-align: -webkit-right;
        padding: 0;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
    }
    .example__slider {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 85px;
    }
    .example__slim {
        position: absolute;
        left: 128px;
        top: 0;
    }
    .example__slider img:first-child {
        position: relative;
        right: 152px;
    }
    .range {
        display: flex;
        flex-direction: row;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        text-transform: uppercase;
        
    }
    .example__index:first-child {
        padding-right: 0;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .example__index:last-child {
        padding-left: 0;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .example__range {
        width: 35px;
        border: 2px solid @grey;
        height: 35px;
        left: 210px;
        top: 0;
        border-radius: 26px;
        position: relative;
        z-index: 1;
        background-color: @white;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 13px;
            height: 13px;
            left: 9px;
            top: 9px;
            border-radius: 10px;
            background-color: @green;
        }
    }
    .example__span {
        width: 430px;
        margin: 0;
        border-radius: 3px;
        background-color: @grey;
        height: 8px;
        right: 20px;
        position: relative;
    }
}
@media (min-width: @desktop-width) {
    .example {
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        height: 600px;
        flex-wrap: wrap;
        background: linear-gradient(to top, @greylight 70%, @white 30%);
    }
    .example__list {
        margin-left: 40px;
        display: flex;
        width: 500px;
        position: relative;
        top: 200px;
        height: 200px;
        right: 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .example__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        margin-left: 90px;
        height: 60px;
        line-height: 60px;
    }
    .example__text {
        background-color: @greylight;
        padding-top: 20px;
    }
    .example__lot {
        padding: 0;
        margin-left: 0;
        margin-top: 40px;
        margin-right: 20px;
    }
    .example__slider {
        position: relative;
        top: -220px;
        width: 28%;
        margin-left: auto;
        left: 250px;
    }
    .example__desc {
        margin-bottom: 20px;
        margin-top: 10px;
        width: 500px;
        position: relative;
        top: 200PX;
        text-align: left;
        right: 400px;
        font-size: 16px;
        line-height: 24px;
    }
    // .example__box {
    //     display: flex;
    //     flex-direction: column;
    //     width: 500px;
    //     top: 211px;
    //     left: 0;
    // }
    .example__image {
        display: none;
    }
    .example__cost {
        font-family: "Oswald";
        font-style: normal;
        width: 286px;
        position: relative;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
    }
    .example__span {
        width: 440px;
        height: 20px;
        margin-right: auto;
        border-radius: 3px;
        background-color: lightgray;
        height: 8px;
        position: relative;
    }
    .example__index {
        top: -20px;
        left: -20px;
        position: relative;
        &:active {
            border-bottom: 2px solid lightgray;
        }
    }
    .example__index:first-child {
        padding-right: 20px;
    }
    .example__index:last-child {
        padding-left: 20px;
    }
    .range {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    width: 500px;
    position: relative;
    height: 15px;
    padding-right: 10px;
    top: -200px;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    margin-left: auto;
    }
    .example__range {
        width: 35px;
        border: 2px solid @grey;
        height: 35px;
        top: -25px;
        border-radius: 16px;
        position: absolute;
        z-index: 1;
        background-color: @white;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 8px;
            height: 8px;
            left: 11px;
            top: 10px;
            border-radius: 2px;
            background-color: @green;
        }
        &:active {
            border: 5px solid @green;
            box-sizing: border-box;
        }
}
}