.meal-plan {
    display: flex;
    max-width: 100%;
    flex-flow: column;
    flex-wrap: wrap;
    @media (max-width: @mobile-width-only) {
      margin: 0 20px;
    }
    @media (min-width: @tablet-width) and (max-width: 1199px) {
        padding: 0 30px;
        width: 100%;
    }
}
.meal-plan__plus{
  visibility: hidden;
  display: none;
}

.meal-plan__item {
    background-color: @greylight;
    padding: 13px;
    margin-top: 0;
    position: relative;
    
    &:not(:last-child) {
      @media (max-width: 1199px) {
        margin-bottom: 40px;
      }
    }
    @media (min-width: @tablet-width) and (max-width: 1199px) {
      padding-left: 50px;
      padding-right: 50px;
      height: 372px;
      padding-top: 50px;
  }
}
.meal-plan__icon {
    position: absolute;
    background-color: @green;
    border-radius: 50%;
    display: inline-flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    
    @media (min-width: @tablet-width) and (max-width: 1199px) {
      right: 60px;
      top: 74px;
    }
  }
  @media (min-width: @tablet-width) {
  .meal-plan__image {
    position: absolute;
    margin-top: -16px;
    margin-left: -3px;
    width: 68%;
    height: auto;
  }
  .meal-plan__image--panter {
    position: absolute;
    width: 269px;
    margin-top: 10px;
    margin-left: 0px;
    height: auto;
  }
}
      
@media (min-width: @tablet-width) and (max-width: 1199px) {
.meal-plan__icon {
  width: 200px;
  height: 200px;
}
}
.meal-plan__title {
    font-family: "Oswald", sans-serif;
    line-height: 37px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    
    @media (min-width: @tablet-width) and (max-width: 1199px) {
      margin: 0;
      font-size: 34px;
      padding-top: 35px;
    }
}
.meal-plan__desc {
  margin-top: 31px;
  margin-right: 13px;
  padding-bottom: 22px;
    @media (max-width: 767px) {
      border-bottom: 1px solid #D9D9D9;
      font-size: 16px;
      line-height: 26px;
      padding: 0;
    }
    
    @media (min-width: @tablet-width) and (max-width: 1199px) {
      padding-right: 40%;
    }
}

.meal-plan__arrow {
  align-self: center;
  margin-left: 20px; 
}

.meal-plan__link {
    position: relative;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: @black;
    padding-right: 60px;
}
    @media (min-width: @tablet-width) {
    .meal-plan__link {
      font-size: 20px;
      position: absolute;
      bottom: 60px;
    }
  }

@media (min-width: @desktop-width) {
  .meal-plan {
  flex-flow: row;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.meal-plan__item {
  padding: 50px;
}
.meal-plan__icon {
  width: 100px;
  height: 100px;
  background-color: @green;
  position: absolute;
}
.meal-plan__image--panter {
  width: 135px;
}
.meal-plan__title {
  font-family: "Oswald";
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
.meal-plan__desc {
  font-size: 16px;
  line-height: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.meal-plan__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
}