.page-map__location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
}
.page-map {
    max-width: 100%;

}
.page-map__title {
    margin-left: 16px;
    max-width: 124px;
    min-height: 60px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.page-map__address {
    max-width: 160px;
    min-height: 60px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
    text-align: left;
    justify-self: flex-end;
}
.page-map__image {
    max-width: 100%;

}
@media (min-width: @tablet-width) {
    .page-map__location {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 60px;
        justify-content: space-between;
    }
    .page-map__title {
        margin-left: 60px;
    }
    .page-map img {
        width: 100%; 
        height: auto;
        max-height: 400px;  
        object-fit: cover; 
        object-position: center; 
        }
    .page-map__address {
        justify-self: flex-end;
        margin-right: 60px;
        text-align: right;
    }
    .page-map__image {
        height: auto;
        order: 2;
    }
}
@media (min-width: @desktop-width) {
    .page-map img {
    width: 100%; 
    height: auto;
    max-height: 400px;  
    object-fit: cover;
    object-position: center; 
    }
    .page-map__location {
        content: "";
        position: relative;
        width: 390px;
        margin: 0;
        padding: 0;
        top: 225px;
        left: 70px;
        background-color: @white;
    }
}