
.page-map__location {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: 
    "title address";
    width: 100vw;
}
.page-map__title {
    grid-area: title;
    max-width: 171px;
    min-height: 60px;
    margin: 10px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.page-map p {
    margin: 10px 10px;
}
.page-map__address {
    max-width: 100%;
    grid-area: address;
    margin-left: auto;
    max-width: 160px;
    min-height: 60px;
    text-align: right;
}
.page-map {
    width: 100vw;
    margin-left: 0 20px;
}
@media (min-width: @tablet-width) {
    .page-map__location {
        display: grid;
        padding: 0 40px;
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        "&__title &__address";
    }
    .page-map__address {
        justify-self: flex-end;
    }
    .page-map__image {
        width: 84%;
        height: auto;
        order: 2;
    }
}
@media (min-width: @desktop-width) {
    .page-map__conteiner {
        width: 1440px;
        height: 400px;
        overflow: hidden;
        &__image {
            margin-top: -100px;
            margin-left: -200px;
        }
    }
    .page-map__location {
        content: "";
        position: absolute;
        width: 390px;
        margin: 0;
        padding: 0;
        top: 1800px;
        left: 100px;
        background-color: @white;
    }
}