.program-info {
    margin: 0 20px;
    max-width: 100%;
}
.program-info__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 45px;
}
.program-info__list {
    list-style-type: none;
    padding: 0;
}
.program-info__item {
    position: relative;
    margin-left: 75px;
}
.program-info__item:nth-child(1) {
    margin-bottom: 60px;
}
.program-info__item:nth-child(2) {
    margin-bottom: 60px;
}
.program-info__item:nth-child(3) {
    margin-bottom: 60px;
}
.program-info__item:nth-child(4) {
    margin-bottom: 60px;
}
.program-info__item::before {
    content:"";
    position: absolute;
    left: -75px;
    top: 0;
    min-width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    align-self: center;
    margin-bottom: 20px;
}
.program-info--leaf::before {
    background-image: url("../img/icon_leaf.svg");
}
.program-info--tub::before {
    background-image: url("../img/icon_tub.svg");
}
.program-info--eat::before {
    background-image: url("../img/icon_eat.svg");
}
.program-info--alarm::before {
    background-image: url("../img/icon_alarm.svg");
}
@media (min-width: @tablet-width) and (max-width: 1199px) {
    .program-info {
        margin-left: 35px;
    }
    .program-info__title {
        font-size: 55px;
        margin: 0;
        margin-top: 10px;
        line-height: 60px;
    }
    .program-info__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .program-info__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        width: 250px;
        height: 280px;
        position: relative;
        left: 60px;
        padding-top: 130px;
        padding-left: 10px;
        padding-right: 30px;
        margin: 20px;
    }
    .program-info__item:nth-child(1),
    .program-info__item:nth-child(3) {
        left: 0;
        top: 0;
        bottom: 20px;
        position: relative;
    }
    .program-info--leaf::before {
        background-image: url("../img/icon_leaf.svg");
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30px;
        left: 0;
    }
    .program-info__item:first-child{
        background-image: url("/img/plus/number1.svg");
        background-color: @white;
        background-repeat: no-repeat;
        background-position-x: 100px;
        background-position-y: 0px;
    }
    .program-info--tub::before {
        background-image: url("../img/icon_tub.svg");
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30px;
        left: 0;
    }
    .program-info__item:nth-child(2){
        background-image: url("/img/plus/number2.svg");
        background-color: @white;
        background-repeat: no-repeat;
        background-position-x: 145px;
        background-position-y: 35px;
    }
    .program-info--eat::before {
        background-image: url("../img/icon_eat.svg");
        padding: 0;
        margin: 0;
        width: 20%;
        position: absolute;
        top: 30px;
        left: 70px;
    }
    .program-info__item:nth-child(3){
        background-image: url("/img/plus/number3.svg");
        background-color: @white;
        background-repeat: no-repeat;
        background-position-x: 100px;
        background-position-y: 0px;
    }
    .program-info--alarm::before {
        background-image: url("../img/icon_alarm.svg");
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30px;
        left: 70px;
    }
    .program-info__item:nth-child(4){
        background-image: url("/img/plus/number4.svg");
        background-color: @white;
        background-repeat: no-repeat;
        background-position-x: 145px;
        background-position-y: 35px;
    }
}
@media (min-width: @desktop-width) {
    .program-info {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }
    .program-info__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 50px;
        
    }
    .program-info__item {
        margin-top: 30px;
        padding-top: 100px;
        margin-bottom: 30px;
        max-width: 250px;
        margin-left: 20px;
    }
    .program-info__item:nth-child(4) {
        margin-left: 20px;
    }
    .program-info__title {
        font-size: 55px;
        margin-bottom: 0;
        margin-left: 90px;
        margin-top: 72px;
        line-height: 60px;
    }
    .program-info--alarm::before {
        background-image: url("../img/icon_alarm.svg");
        position: absolute;
        left: 10px;
    }
    .program-info--eat::before {
        background-image: url("../img/icon_eat.svg");
        position: absolute;
        left: 10px;
    }
    .program-info--tub::before {
        background-image: url("../img/icon_tub.svg");
        position: absolute;
        left: 10px;
    }
    .program-info--leaf::before {
        background-image: url("../img/icon_leaf.svg");
        position: absolute;
        left: 10px;
    }
}