.additional {
    width: 100vw;
    margin: 0 20px;
}
.additional__item {
    display: grid;
    grid-template-columns: 40% 35% 20%;
    grid-template-areas: 
    "additional__subtitle additional__subtitle additional__subtitle"
    "additional__type . additional__price"
    "additional__btn additional__btn additional__btn";
    border-top: 2px solid lightgrey;
    margin-bottom: 10px;
    width: 320px;
}
.additional__item:last-child {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
}
.additional__list {
    padding: 0;
    margin: 0;
}
.additional__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 30px 0;
}
.additional__subtitle {
    grid-area: additional__subtitle;
    margin: 20px 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.additional__type {
    grid-area: additional__type;
}
.additional__price {
    grid-area: additional__price;
}
.additional__btn {
    grid-area: additional__btn;
    background-color: @green;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    color: @white;
    width: 90%;
}
.additional__box {
    background-image: url("/img/catalog/cat-box.jpg");
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    color: @white;
    margin-right: 38px;
    align-items: center;
    padding: 0;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;


&::before {
        content: "";
        position: absolute;
        height: 302px;
        background-color: @green;
        z-index: -1;
        width: 282px;
    }
}
.additional__text {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    max-width: 161px;
}

@media (min-width: @tablet-width) {
    .additional__price {
        width: 100%;
        margin: 0;
        &__btn {
            width: 85%;
        }
    }
    .additional__item {
        display: grid;
        width: 100%;
        margin: 10px auto;
        grid-template-columns: 40% 40% 20%;
        grid-template-areas: 
        "additional__subtitle additional__subtitle additional__subtitle"
        "additional__type . additional__price"
        "additional__btn additional__btn additional__btn";
    }
    .additional__box {
        background-image: url("/img/cat-box2.jpg");
        position: relative;
        z-index: -1;
        background-repeat: no-repeat;
        color: @white;
        padding: 0;
        margin-top: 10px;
        max-height: 200px;
        align-self: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    &::before {
            content: "";
            position: absolute;
            height: 200px;
            background-color: @green;
            z-index: -1;
            width: 100%;
            padding: 0;
            top: auto;
        }
    
    }
    .additional__text {
        display: flex;
        justify-content: flex-end;
        text-align: center;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        max-width: 161px;
    }
}
@media (min-width: @desktop-width) {
    .additional__item {
        display: grid;
        grid-template-columns: 162px 132px 45px 200px 245px;
        grid-template-areas: 
        "&__title &__type &__price &__btn &__box";
    }
    .additional__title {
        grid-area: &__title;
    }
    .additional__type {
        grid-area: &__type;
    }
    .additional__price {
        grid-area: &__price;
    }
    .additional__btn {
        grid-area: &__btn;
    }
    .additional__box {
        display: none;
    }
    .box {
        grid-area: &__box;
        background-image: url("/img/catalog/cat-box.jpg");
    }
}