.more-products {
    padding-top: 20px;
    margin-top: 25px;
    width: 320px;
    position: relative;
    border-top: 2px solid lightgrey;
    text-align: center;
}
.more-products__title {
    text-transform: uppercase;
}
.more-products__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.more-products__toggle {
    background-color: #F2F2F2;
    padding: 10px 10px;
    font-weight: bold;
    width: 320px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}