.contact {
    border: none;
    padding: 0;
    max-width: 320px;
    margin-left: 20px;
}
.contact__title {
    padding: 10px 0;
    text-transform: uppercase;
}
.contact__box {
    padding: 0;
}
.contact__label {
    text-transform: uppercase;
    padding-right: 18px;
}
.contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.contact__field {
    padding: 10px;
    width: 100%;
    border: 1px solid lightgrey;
}
