.contact {
    border: none;
    padding: 0;
    width: 100%;
    margin-left: 20px;
}
.contact__block {
    padding: 10px 0;
    text-transform: uppercase;
}
.contact__box {
    padding: 0;
}
.contact__label {
    text-transform: uppercase;
    padding-right: 18px;
}
.contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.contact__text {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 20px;
}
.contact__block {
    padding: 10px;
    border: none;
}
.contact__field {
    width: 80%;
    padding: 5px;
}
@media (min-width: @tablet-width) {
    .contact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
