.program-options {
    font-family: 'Oswald';
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    margin: 0;
}
.program-options__title {
    background-color: #ffffff;
    max-width: 300px;
    margin-left: 20px;
}
.program-options__subtitle {
    min-height: 36px;
    margin-left: 20px;
    max-width: 300px;
<<<<<<< HEAD
    text-transform: uppercase;
=======
>>>>>>> 7cb6438d1a3b19ee4f216c7fbd2609942b26b001
}
.program-options__info {
    border: none;
    margin: 0;
    padding: 0;
}
.program-options__block {
    padding: 0 20px;
}
.program-options__label {
    text-transform: uppercase;
    padding-right: 16px;
}
.program-options__item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.program-options__field {
    padding: 10px;
    width: 100%;
    border: 1px solid lightgrey;
}