.footer__image:first-child {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.footer__image:last-child {
    margin-top: 10px;
}
.footer__socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 32px;
    border-top: 1px solid lightgrey;
    border-bottom:1px solid lightgrey ;
}
.footer__copyright {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
}
.footer__item {
    padding-right: 30px;
    align-items: center;
}
.footer__academy {
    align-self: center;
}