.page-header {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 40px;
  justify-content: flex-start;
}
.page-header__logo {
  margin-left: 40px;
  margin-top: 10px;
}
.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  width: 70px;
  height: 37px;
  background-color: @white;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:active {
    background-color: @white
  }
}
.main-nav__list {
  display: none;
}
@media (min-width: @tablet-width) {
  .main-nav__list {
    display: none;
  }
  .page-header__toggle {
    display: none;
  }
  .navigation-list {
    display: flex;
    color: @black;
    flex-direction: row;
    &__item {
      padding: 0 20px;
      list-style: none;
    }
  }
  .page-header__image,
  .page-header__logo {
    display: none;
  }
}
/*@media (min-width: @desctop-width) {
}*/
