@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/oswaldmedium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: url("../../fonts/oswaldregular.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    min-width: 320px;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
}
p {
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}
button {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
}
