.program-info__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: red;
}
.program-info--leaf {
    background-image: url("../img/icon_leaf.svg");
}
.program-info--tub {
    
}