.program-info__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: rgb(32, 22, 22);
}
.program-info__list {
    list-style-type: none;
}
.program-info__item {
    background-color: #ffffff;
    text-indent: 5.4em;
}
.program-info--leaf::before {
    content: url("../img/icon_leaf.svg");
    background-color: @green;
    float: left;
}
.program-info--tub::before {
    background-color: @green;
    float: left;
    background-repeat: no-repeat;
    content: url("../img/icon_tub.svg");
}
.program-info--eat::before {
    background-color: @green;
    float: left;
    background-repeat: no-repeat;
    content: url("../img/icon_eat.svg");
}
.program-info--alarm::before {
    background-color: @green;
    float: left;
    background-repeat: no-repeat;
    content: url("../img/icon_alarm.svg");
}